<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allowPluginLinks</key>
	<true/>
	<key>bdToBookmarkAliasUpgrade</key>
	<true/>
	<key>createSpotlightIndex</key>
	<true/>
	<key>dbVersion</key>
	<string>7</string>
	<key>defaultPage</key>
	<string>Index</string>
	<key>defaultUUID</key>
	<string>1bec3cca-b920-44d4-a7cb-eae4f7942ddd</string>
	<key>expectedPageCount</key>
	<integer>8</integer>
	<key>lastPDFExportPagePresetName</key>
	<string>iso-a4</string>
	<key>lastWebExportOutputURLData</key>
	<data>
	Ym9va/ADAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAyAIA
	AAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAG1hc29uAAAABwAAAAEBAABEZXNrdG9wABAA
	AAABAQAAamVreWxsLTMtZnVja2VyeRcAAAABAQAAUkVBRE1FLWpla3lsbC0zLWZ1Y2tl
	cnkAFAAAAAEGAAAEAAAAFAAAACQAAAA0AAAATAAAAAgAAAAEAwAA+JMCAAAAAAAIAAAA
	BAMAAKgnBgAAAAAACAAAAAQDAAC5JwYAAAAAAAgAAAAEAwAA3GQHBgAAAAAIAAAABAMA
	ACeyBwYAAAAAFAAAAAEGAACIAAAAmAAAAKgAAAC4AAAAyAAAAAgAAAAABAAAQbw/hSYA
	AAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAAAAAABBQAABAAAAAMDAAAB
	AAAACAAAAAQDAAADAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8MAAAA
	AQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAACCIPToAAAAIAAAAAAQAAEG58f3XAAAAJAAA
	AAEBAAA4MDVDNUY3OS0yMEJDLTNDNjEtOTkzRi1BN0UyQUFBRkYwMDYYAAAAAQIAAIEA
	AAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAM4AAAABAgAAYmY0YzY2NmU0
	ODFiNGUwNTAyM2Q2MzIyZDk4YzYxOTJhOGExYzRiMjswMDAwMDAwMDswMDAwMDAwMDsw
	MDAwMDAwMDAwMDAwMDIwO2NvbS5hcHBsZS5hcHAtc2FuZGJveC5yZWFkLXdyaXRlOzAw
	MDAwMDAxOzAxMDAwMDAxOzAwMDAwMDAwMDYwN2IyMjc7L3VzZXJzL21hc29uL2Rlc2t0
	b3AvamVreWxsLTMtZnVja2VyeS9yZWFkbWUtamVreWxsLTMtZnVja2VyeQAAAPAAAAD+
	////AQAAAAAAAAATAAAABBAAAGwAAAAAAAAABRAAANgAAAAAAAAAEBAAAAQBAAAAAAAA
	QBAAAPQAAAAAAAAAVBAAACwBAAAAAAAAVRAAACwBAAAAAAAAVhAAACQBAAAAAAAAAiAA
	AOQBAAAAAAAABSAAAFQBAAAAAAAAECAAAGQBAAAAAAAAESAAAJgBAAAAAAAAEiAAAHgB
	AAAAAAAAEyAAAIgBAAAAAAAAICAAAMQBAAAAAAAAMCAAACQBAAAAAAAAAcAAADgBAAAA
	AAAAEcAAABQAAAAAAAAAEsAAAEgBAAAAAAAAgPAAAPABAAAAAAAA
	</data>
	<key>localWebAccess</key>
	<false/>
	<key>openWindows</key>
	<array>
		<dict>
			<key>displayUUID</key>
			<string>1bec3cca-b920-44d4-a7cb-eae4f7942ddd</string>
			<key>drawerOpen</key>
			<false/>
			<key>openUUIDProperties</key>
			<array>
				<dict>
					<key>itemUUID</key>
					<string>1bec3cca-b920-44d4-a7cb-eae4f7942ddd</string>
					<key>rulerVisible</key>
					<true/>
					<key>selectedRange</key>
					<string>{0, 0}</string>
					<key>visibleGlyphs</key>
					<string>{0, 380}</string>
					<key>zoomScale</key>
					<real>1</real>
				</dict>
			</array>
			<key>windowFrame</key>
			<string>{{855, 61}, {1169, 1267}}</string>
		</dict>
	</array>
	<key>skIndexVersion</key>
	<integer>7</integer>
	<key>updatedFMPageToRealUTIs</key>
	<true/>
	<key>updatedSpecialPages3</key>
	<true/>
	<key>uuid</key>
	<string>911cba8d-a67e-45a5-b558-46bac505e829</string>
</dict>
</plist>
