<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>VoodooPadBundleVersion</key>
	<integer>6</integer>
	<key>isEncrypted</key>
	<false/>
	<key>uuid</key>
	<string>911cba8d-a67e-45a5-b558-46bac505e829</string>
</dict>
</plist>
