<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aliases</key>
	<array/>
	<key>attributes</key>
	<dict/>
	<key>categories</key>
	<array/>
	<key>createdDate</key>
	<date>2016-01-08T04:52:55Z</date>
	<key>displayName</key>
	<string>4c6e3b9826f6acc27d9398501214c54c8e2fe80f</string>
	<key>encrypted</key>
	<string>No</string>
	<key>key</key>
	<string>4c6e3b9826f6acc27d9398501214c54c8e2fe80f</string>
	<key>metaValues</key>
	<dict/>
	<key>modifiedDate</key>
	<date>2016-01-08T04:52:55Z</date>
	<key>shouldHighlightLinks</key>
	<string>Yes</string>
	<key>skipOnExport</key>
	<string>No</string>
	<key>uti</key>
	<string>com.fm.url</string>
	<key>uuid</key>
	<string>edf76153-b4f8-4c54-bb05-5946d2556570</string>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
