<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aliases</key>
	<array/>
	<key>attributes</key>
	<dict/>
	<key>categories</key>
	<array/>
	<key>createdDate</key>
	<date>2016-01-08T04:53:08Z</date>
	<key>displayName</key>
	<string>45165d144fc4c22e2833fac21f07f5f6c64a0b1e</string>
	<key>encrypted</key>
	<string>No</string>
	<key>key</key>
	<string>45165d144fc4c22e2833fac21f07f5f6c64a0b1e</string>
	<key>metaValues</key>
	<dict/>
	<key>modifiedDate</key>
	<date>2016-01-08T04:53:08Z</date>
	<key>shouldHighlightLinks</key>
	<string>Yes</string>
	<key>skipOnExport</key>
	<string>No</string>
	<key>uti</key>
	<string>com.fm.url</string>
	<key>uuid</key>
	<string>80ec4b3e-77dd-4d4c-9117-94185cef6d3a</string>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
